footer {
    height: 50vh;
}

.w-40 {
    width: 40%;
}

.spacer-10 {
    height: 10%;
}


.sidebar a {
    color: #666;
    text-decoration: none;
    font-size: 31px;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

form#searchform {
    margin-left: 87px;
}